/*字型*/
/*中文字體*/
@font-face {
    font-family: Source Han Reg;  /*小標題*/
    src: url(../font/OTC/SourceHanSerif-Regular.ttc);
}

@font-face {
    font-family: SemBold; /*標題文字*/
    src: url(../font/OTC/SourceHanSerif-Bold.ttc); 
}


@font-face {
    font-family: NotoSansTC; /*內文*/
    src: url(../font/Noto_Sans_TC/NotoSansTC-Regular.otf);
}

/*html*/
html {
    margin: 0 240px;
    padding: 0;
	background-color: black;
    
}

/*body*/
body{
    margin: 0;
}

/*主體區塊*/
.container {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 760px;
    background-color: #272727;
    
}

/*header*/
.header{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 1440px;
    height: 140px;
    background-color: #272727;
    padding:0;
    justify-content: center;
}


.header_links-left{
    display: flex;
    
}

.header_links-right{
    display: flex;
    
}


.header_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_link{
    position: relative;
    display: flex;
    align-items: center;
    padding: 57px 60px 0;
    text-decoration: none;
    color: #E5CCA4;
    font-size: 24px;
    font-family: NotoSansTC;
}


.header_link:hover{
    color: white;
   
}

.header_line{
    display: flex;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #e5cca400;
    border-radius: 10px;
    margin: 93px 0 0;
}

.header_line_hover{
    background-color: white;
}



.header_logo{
    color: white;
    font-size: 20px;
    padding: 0 40px;
}

#story{
    color:white;
}

#story_line{
    background-color:white;
}

/*story*/
.story{
    display: flex;
}

.story_text_box{
    position: absolute;
    color: #E5CCA4;
    display: flex;
    border: solid 1px #E5CCA4;
    border-radius: 1px;
    font-size: 20px;
    font-family: NotoSansTC;
    letter-spacing: 0.05em;
    margin-top: 156px;
    margin-left: 370px;
    width: 700px;
    height: 270px;
}

.story_text{
   margin: 61px 159px 59px;
}


.story_text-top1{
    text-align: center;
}

.story_text-top2{
    text-align: center;
}

.story_text-bottom1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.story_text-bottom2{
    text-align: center;
}

/*footer*/
footer{
    height: 140px;
    width: 1440px;
    background-color: #272727;
}

.footer_line{
   width: 1440px;
   height: 1px;
   background-color: #846B43; 
}



.footer_infos-top{
    display: flex; 
    justify-content: center; 
    margin-top: 30px;
    color: #846B43; 
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 27px;
    font-family: NotoSansTC;
}

.footer_infos-mid{
    display: flex; 
    justify-content: center; 
    color: #846B43;  
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_infos-bottom{
    display: flex; 
    justify-content: center; 
    color: #846B43; 
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 27px;
    font-family: NotoSansTC;
    align-items: center;
}

.footer_infos-line{
    display: inline-block;
    width: 1px;
    height: 18px;
    margin: 0 7px ;
    background-color: #846B43;  
}